<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main-page.css">
    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">
            <%- include('./includes/navigation.ejs') %>

                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content" style="margin-left: 0px;">

                    <div class="page-content no-padding-left no-padding-right" style="padding-top: 2rem;">
                        <div class="no-padding-left no-padding-right">
                            <%- include('./includes/jumbotron-start.ejs') %>
                                <div class="row justify-content-center">
                                    <div class="col-lg-6 col-md-6 justify-content-center d-flex align-items-center">
                                        <div class="home-content">
                                            <h1 class=" text-white">Buy Premium Quality RDP Server</h1>
                                            <p class="lead text-white py-4">
                                                Check out our affordable and cheap plans for web hosting and deployment services!
                                            </p>
                                            <a href="#plan" class="btn btn-main">CHOOSE PLAN</a>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 home-img">
                                        <img src="/images/hero-img.png" class="img-fluid animated"  alt="">
                                    </div>
                                </div>
                                <%- include('./includes/jumbotron-end.ejs') %>
                                <div class="service-dispaly-section section-inner-padding-100" style="background: #fff;">
                                    <div class="box-wrapper">
                                        <div class="service-wrapper">
                                            <div class="container">
                                                <h4 class="block-title text-center" style="padding-bottom: 40px;">Why Buy RDP From Us?</h4>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="service-items">
                                                            <div class="service-single-item service-single-item-style-2 swiper-slide">
                                                                <div class="icon">
                                                                    <img src="/images/cloud-server.png"  alt="">
                                                                </div>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="#">Advanced Hardware</a></h5>
                                                                    <p>What is Lorem Ipsum?<br>Lorem Ipsum is simply dummy text of
                                                                        the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                                    <a class="text-btn" href="#">Learn More ></a>
                                                                </div>
                                                            </div>
                                                            <div class="service-single-item service-single-item-style-2 swiper-slide">
                                                                <div class="icon">
                                                                    <img src="/images/cloud-server.png" alt="">
                                                                </div>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="#">Affordable Plans</a></h5>
                                                                    <p>What is Lorem Ipsum?<br>Lorem Ipsum is simply dummy text of
                                                                        the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                                    <a class="text-btn" href="#">Learn More ></a>
                                                                </div>
                                                            </div>
                                                            <div class="service-single-item service-single-item-style-2 swiper-slide">
                                                                <div class="icon">
                                                                    <img src="/images/cloud-server.png" alt="">
                                                                </div>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="#">Remote & Secure</a></h5>
                                                                    <p>What is Lorem Ipsum?<br>Lorem Ipsum is simply dummy text of
                                                                        the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                                    <a class="text-btn" href="#">Learn More ></a>
                                                                </div>
                                                            </div>
                                                            <div class="service-single-item service-single-item-style-2 swiper-slide" >
                                                                <div class="icon">
                                                                    <img src="/images/cloud-server.png" alt="">
                                                                </div>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="#">Any Time Support</a></h5>
                                                                    <p>What is Lorem Ipsum?<br>Lorem Ipsum is simply dummy text of
                                                                        the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                                    <a class="text-btn" href="#">Learn More ></a>
                                                                </div>
                                                            </div>
                                                            <div class="service-single-item service-single-item-style-2 swiper-slide" >
                                                                <div class="icon">
                                                                    <img src="/images/cloud-server.png" alt="">
                                                                </div>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="#">Best Network</a></h5>
                                                                    <p>What is Lorem Ipsum?<br>Lorem Ipsum is simply dummy text of
                                                                        the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                                    <a class="text-btn" href="#">Learn More ></a>
                                                                </div>
                                                            </div>
                                                            <div class="service-single-item service-single-item-style-2 swiper-slide">
                                                                <div class="icon">
                                                                    <img src="/images/cloud-server.png" alt="">
                                                                </div>
                                                                <div class="content">
                                                                    <h5 class="title"><a href="#">Customer Satisfaction</a></h5>
                                                                    <p>What is Lorem Ipsum?<br>Lorem Ipsum is simply dummy text of
                                                                        the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                                                    <a class="text-btn" href="#">Learn More ></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ...::: End Service Display Section :::... -->

                                    <div class="container ptb-80" id="plan">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-12">
                                                <div class="text-center mb-5">
                                                    <h4 class="block-title">Choose your Pricing plan</h4>
                                                    <p class="text-muted">To achieve this, it would be necessary to have
                                                        uniform grammar, pronunciation and more common words If several
                                                        languages coalesce</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row px-md-2 px-lg-4">
                                            <div class="col-xl-4 col-md-6">
                                                <div class="card">
                                                    <div class="card-body p-4">
                                                        <div class="d-flex mb-1">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-sm">
                                                                    <span
                                                                        class="avatar-title rounded-circle bg-info">
                                                                        <i class="fas fa-cube font-size-20"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h5 class="font-size-16">Bronze</h5>
                                                                <p class="text-muted">1 month FREE trial</p>
                                                            </div>
                                                        </div>
                                                        <div class="py-4 border-bottom">
                                                            <div class="float-end plan-btn">
                                                                <a href="/auth/signup"
                                                                    class="btn btn-info btn-sm waves-effect waves-light">Sign
                                                                    up Now</a>
                                                            </div>
                                                            <h4><sup><small>$</small></sup> 10/ <span
                                                                    class="font-size-16">m</span></h4>
                                                        </div>

                                                        <div class="plan-features mt-4">
                                                            <h5 class="text-center font-size-15 mb-4">Plan Features :
                                                            </h5>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                1 Account</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                1 Project</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                100K API Access</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                100MB Storage</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                Custom Cloud Services</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                Weekly Reports</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6">
                                                <div class="card">
                                                    <div class="card-body p-4">
                                                        <div class="d-flex mb-1">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-sm">
                                                                    <span
                                                                        class="avatar-title rounded-circle bg-info">
                                                                        <i class="fas fa-trophy font-size-20"></i>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="flex-grow-1">
                                                                <h5 class="font-size-16">Silver</h5>
                                                                <p class="text-muted">1 month FREE trial</p>
                                                            </div>
                                                        </div>
                                                        <div class="py-4 border-bottom">
                                                            <div class="float-end plan-btn">
                                                                <a href="/auth/signup"
                                                                    class="btn btn-info btn-sm waves-effect waves-light">Sign
                                                                    up Now</a>
                                                            </div>
                                                            <h4><sup><small>$</small></sup> 20/ <span
                                                                    class="font-size-16">m</span></h4>
                                                        </div>

                                                        <div class="plan-features mt-4">
                                                            <h5 class="text-center font-size-15 mb-4">Plan Features :
                                                            </h5>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                2 Accounts</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                5 Projects</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                100K API Access</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                200MB Storage</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                Custom Cloud Services</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                Weekly Reports</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-6">
                                                <div class="card">
                                                    <div class="card-body p-4">
                                                        <div class="d-flex mb-1">
                                                            <div class="flex-shrink-0 me-3">
                                                                <div class="avatar-sm">
                                                                    <span
                                                                        class="avatar-title rounded-circle bg-info">
                                                                        <i class="fas fa-shield-alt font-size-20"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1">
                                                                <h5 class="font-size-16">Gold</h5>
                                                                <p class="text-muted">1 month FREE trial</p>
                                                            </div>
                                                        </div>
                                                        <div class="py-4 border-bottom">
                                                            <div class="float-end plan-btn">
                                                                <a href="/auth/signup"
                                                                    class="btn btn-info btn-sm waves-effect waves-light">Sign
                                                                    up Now</a>
                                                            </div>
                                                            <h4><sup><small>$</small></sup> 35/ <span
                                                                    class="font-size-16">m</span></h4>
                                                        </div>

                                                        <div class="plan-features mt-4">
                                                            <h5 class="text-center font-size-15 mb-4">Plan Features :
                                                            </h5>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                5 Accounts</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                20 Projects</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                300K API Access</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                500MB Storage</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                Custom Cloud Services</p>
                                                            <p><i
                                                                    class="mdi mdi-checkbox-marked-circle-outline font-size-16 align-middle text-info me-2"></i>
                                                                Weekly Reports</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <%- include('./includes/full-width-end.ejs') %>
            </div>
            <!-- end main content-->

            </div>
            <!-- END layout-wrapper -->
    </body>

    <%- include('./includes/scripts.ejs') %>

        <script src="assets/js/app.js"></script>

        </body>

        </html>